<div class="columns mt-6 is-centered">
<div class="column is-one-third">
<h1 class="is-size-2 has-text-weight-bold mb-3">Editing receipt</h1>

<%= render "form", receipt: @receipt %>

<br>
</div>
</div>

